<% provide(:title, 'About') %>
<div class="row-fluid">
  <title>Turnip | <%= yield(:title) %></title>
  <h1>About</h1>
  <div class="row-fluid">
  	<div class="span5">
      This is a pretty picture.
    </div>
    <div class="span7">
      <p>
        This is the About page for Turnip web development.
      </p>
	  </div>
	</div>
  <div class="row-fluid">
  	<div class="span7">
      <p>Some more text about us.</p>
    </div>
    <div class="span5">
  		This is another nice picture.
  	</div>
  </div>
</div>