<div class="center hero-unit">
  <h1>Turnip</h1>

  <h2>
    websites for restaurants
  </h2>

  <%= link_to "find out more", package_path, class: "btn btn-large btn-primary" %>
</div>

<%# link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>