<div class="center hero-unit">
  <h1>Turnip</h1>

  <h2>
    Welcome to Turnip.</br>Turnip makes websites for businesses in the hospitality sector.  We focus on effectiveness and elegance.
  </h2>

  <%= link_to "Join the mailing list", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>