<p>
	The creation of the site is "on the house". To host the site, register the domain name, renew the domain name annually, provide monthly analysis of visitors to your site, update as required, provide maintenance, provide an email account for your domain name and offer support is just £50 a month, paid monthly and no contract. (The first three months are paid in advance upon the website going online).
</p>
