<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Turnip", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Web development & hosting package",    package_path %></li>
          <li><%= link_to "Link to a site we made", "http://the-city-centre-bistro.tk", 
                                                            target: "_blank" %></li>
          <li><%= link_to "Get a Turnip website",    submit_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>