<p>
    YOUR WEBSITE IS BROKEN!!!! FIND OUT HOW TO MAKE A WEBSITE THAT THROWS CUSTOMERS THROUGH YOUR RESTAURANT'S DOORS!!!!
</p>
<p>
    Is your website making you money or costing you money?? Do you even know???? Your website should actively persuade people to become your customers, if it doesn't then it's missing a humungus opportunity, not to mention missing the point!!
</p>
<p>
    As anyone who's tried to write something for their website or their promo material will know, communicating to your audience the great experience your restaurant offers is not as easy as it first sounds. Most of your competitors (and perhaps you) depend on pictures and small pieces of writing which use the same old words and phrases - 'tender and succulent', 'cosy and intimate', 'truly irresistable', blah blah blaargh.......IT'S SOO BOOOORRRRRING!! People are crying for novelty in a world which continues to offer them more of the same. So PLEEEEEEAAASSSSEE don't just offer them the same old same old, copied and pasted from a competitor's site!!!! No one will read it and why should they? They already know what it says because they read it everywhere ALL THE TIME
</p>
<p>
    Put some effort and thought into what you write on your website. Make it fun to read and people will read it no matter how long it is. And not only will they read it but they'll love you for offering a change from all the other boring, homogenous KRUD they get presented with everyday! Your website will stick out in their minds long after they've forgotten everyone elses.
</p>
<p>
    ...........and, the only way to communicate well enough to persuade anyone of anything is with words. So don't waste effort on your pictures and graphics at the expense of your writing, because when it comes to persuading people the <u>only</u> thing that matters is what you say and the way you say it. And as I've mentioned make it FUN if you possibly can!
</p>
<p>
    Start thinking of your website as a sales pitch. Judge it only by how effectively it gets you customers and not by how pretty it is or how "cutting-edge" it is or ANYTHING else it is. It doesn't matter one iota if your site is a plain page with nothing but a block of unformatted text and a telephone number (an extreme example) if that format happens to be the optimum and leads to twice as many table reservations for your restaurant....caprice??
</p>
<p>
    It sounds pretty simple doesn't it?? And yet how often have you visited a restaurant's website and felt compelled to book a table based on the experience you had online? Not often, right? Good. I trust that you now agree with me that it's high time your website bucked its ideas up and started working as hard as you do to put money in your pocket.
</p>
<p>
    The good news is that there's a very simple and yet incredibly effective method for persuasion. (The other good news is that you're gonna have had a great introduction to it by the time you reach the bottom of this page!..................)
</p>
<p>
    Here it is: .....A.I.D.A....
</p>
<p>
    >>>>>>>>>>>>Structure the writing on your home page with the four invisible headings: Attention, Interest, Desire and Action>>>>>>>>>>>>>>>>>
</p>
<p>
    Why? Because your writing has to follow a special pattern; a tried and tested procedure which is proven to get people to read it and then say "YES"!
</p>
<p>
    The first thing you say has got to grab their attention. If it doesn't you're gonna lose a sizeable chunk of your audience before they've read anything......
</p>
<p>
    ....Then you need to attract and maintain their interest. You might tell them interesting facts, you might tell a story or you might teach something which would be useful...teaching gains trust with your audience. You're showing them what lengths you're prepared to go to help them and you've given them value without asking for any money. Telling a story is supremely good for getting people to keep reading. People always have and always will love stories. .....
</p>
<p>
    ....Follow the interest part up by saying things that make a visit to your restaurant sound appealing. You could tell them how exclusive it is, how you need to book three weeks in advance in the summer, tell them about famous people who eat there or how many people eat there in a day or a week...
</p>
<p>
	.........once you've laid all that groundwork you've got a much better chance of a positive outcome when you ask them to call up and book a table. And so finally, explain step-by-step (and in seemingly pointless detail) what they need to do. Say something like "thank you for taking the time to find out about the wonderful ______ restaurant, but why take our word for it? Call the number below to be connected to our very accomodating maitre'd. Tell him when you'd like your reservation made for and he'll confirm it with you right there on the phone".....i.e. lead your soon-to-be customer by the hand through the entire process......
</p>
<p>
	..that last step sounds silly but is SOOOO IMPORTANT. Explaining what to do in such detail saves your would-be customer from having to think about whether making a reservation is a good idea or not. Immediately after reading about the great time he's gonna have at your restaurant is when he's most enthusiastic about the idea (and therefore most likely to make a reservation). Don't give him a reason to have to think about it. You want the process he goes through to be something like: read page--dial number--make reservation, and you don't want: read page--think about it--doubt whether it's a good idea--dial number--make reservation because with the added steps many of your would-be customers will decide to think on it and never come back..
</p>
<p>
	That "A.I.D.A formula" has been known about in marketing for a hundred years. It's effectiveness is legendary. Look out for it in all the commercials you see and hear around the place......................
</p>
<p>
    It takes practice to write that way but anyone can learn it. I absolutely assure you that it is one of the best things you can do for your business (and therefore your wallet!!!!!!)
</p>
<p>
    Turnip builds websites around the words because the words are more important than anything else. Many or most web designers see the words on the page as just another element to fit into the layout, but for us the layout is determined by the writing...Why is that important? Isn't it obvious to you yet?!! ........since we understand (and now so do you) that the words alone 'sell', everything else on the page and the whole site is set up to funnel your visitors' attention to reading them, which also means not offering anything that might distract from your efforts to get inside your future customers' heads....
</p>
<p>
    In a nutshell, the people looking at your site are there because they want to eat at a restaurant. They want to read something positive to convince them that they'd have a good time if they chose to go to YOUR restaurant. So it's YOUR JOB to write something to properly communicate how great a restaurant yours is, how much they're gonna like it and then convince them they really should call you right now to book a table. If you don't do your job properly then you're already letting your customer down; they're going to have to keep looking at other options (i.e. wasting their time) until they feel convinced they've made the right choice...which may or may not result in them booking a table at your restaurant.....
</p>
<p>
    Now, whether or not you consider Turnip to take care of your online needs, I hope that you've just learnt something which will make your business better. Using these principles will put you in a great position to make your website more effective than almost all of your competitors'.
</p>
<p>
    If you're interested to find out more about what Turnip could do for you then click the button below.......whether or not you choose to click that button, I wish you and your website the greatest success!
</p>