<h2>Don't just create customers -- create FANS</h2>

<p>
	Customers are everything to us, but fans are better. Fans come to your restaurant regularly and they tell their friends about you. They're loyal. They are the foundation on which you must build if you want to take your business to the next level; they are what you must have to play in the same league as the Jamie Olivers, the Pizza Experesses and, dare I say, the McDonalds...
</p>
<p>
	I don't suppose you need to be convinced of how valuable it is to have fans raving about your restaurant but I'm sure you wonder how you could go about getting them.. Is it not just a matter of providing consistently great food and unfalteringly friendly and helpful service? Having a perfect location? And creating the right atmosphere? Putting ads in the paper or on taxis or on bus shelters or online? Having a Facebook fan page? Being on Twitter? Running promotions? Sponsoring stuff? Giving to charity? Surely doing these things puts you in the best position you can be in to attract fans? ...Doesn't it?
</p>
<p>
	Well actually (as the astute amongst you will have guessed) no. Some of the items on that list are of course essential if you want people to love you and your restaurant, some of them are useful and some are downright overrated and over priced.
</p>
<p>
	Of course great food and service is prerequisite for building your fan club, but in order to break in to the bigtime the number one thing you have to do is build and reinforce your personal relationship with your customers. In fact not just your customers but everyone from your suppliers to your cleaners since they can all add numbers to your fan club. The bigger your fan club gets the faster it will grow.
</p>
<p>
	So then the question is what should you do to improve your relationships? Well that's a pretty big question and one which I am not capable of doing any justice to in attempting to answer fully! I intend to describe to you instead how to specifically use the leverage of the internet to create raving fans, and a powerful strategy for connecting with likely customers and keeping yourself favourably in their heads. However, if you haven't already, I can't recommend strongly enough that you get hold of a copy of How To Win Friends And Influence People by Dale Carnegie, a classic textbook on making your interactions with people smoother, friendlier and more fruitful.
</p>
<p>
	Onward. And so, I want to tell you how to make people love you online (and I'm not talking about eharmony, although some of the principles are no doubt transferrable!). The first thing to know is that to find increasing success you must find more ways of giving more value to more people. You already provide value by giving people a place where they can enjoy themselves and gain sustenance, and so the most obvious way to give more value is by giving more food to your customers. Clearly this is likely to reduce your profits and may not have the hoped for effect (who wants their restaurant to be known as the place where the pigs go to get stuffed?!!!). Then again you might be nextdoor to a bodybuilding gym...probably not. The next most obvious thing to do would be simply to feed more people. Well durh that puts us right back on square one. Fine, let's start over. More value to more people. You could run promotions and reduce your prices, so offer the same food for less. This is a terrible idea. Not only do you reduce your margins but in reducing your prices (thus giving your customer better value for money) you are reducing the perceived value of your food and service. No, keep that self-destruct button well and truly out of your mind!
</p>
<p>
	I expect that by now you might be getting pissed off reading this. I am keeping you dangling aren't I? Listen, I'm leading you in OK? Some (most) of you have to let go of a few (popularly held) ideas you might have before you will fully comprehend the power and simplicity of what I will in a moment reveal to you.
</p>
<p>
	Let's talk about Jamie Oliver. He's a top celebrity chef, he makes a lot of money and it's no coincidence he has millions of fans. So what's his 'secret'? How does he earn millions of pounds and have millions of fans? What do you think? ..............Could it be his Essex charm? Or his boyish good looks? Or because he's a cheeky chappy? Is he just lucky? Is it because he's hugely motivated by fame/ money/ power/ prestige?
</p>
<p>
	I'm sure that if you suggested to Jamie any of the above as the reason for his success he would do either one of two things: laugh or cry. What does Jamie think is the reason for his success? Well who knows, but what I think and what I bet he thinks has something to do with it (if not everything to do with it) is that the reason for his success is his astonishing passion for helping as many people as he can. Of course he does have excellent marketing and everthing else but that is all a by-product of and a support structure for his number one passion of helping people.
</p>
<p>
	Whether you love Jamie Oliver or loathe him, I bet you haven't helped as many people as he has. I bet tens of thousands more people enjoy a meal "at Jamie's" than do in yours, tens of thousands of people enjoy making his recipes at home, somewhere between tens of thousands and millions of people eat more healthily thanks to him and school meals in hundreds or thousands of schools have higher quality nutritional content and less crap thanks to him.
</p>
<p>
	Like him or not there's a heck of a lot you could learn from him!
</p>
<p>
	If you want more money you need more customers. The best way to get a reliable steady stream of customers is to have fans. If you want fans then you have to give more value or help.
</p>
<p>
	Now, thanks to Jamie Oliver we can come up with some real-world, tangible, actionable steps we can take to get fans.
</p>
<p>
	Let me brainstorm some ideas for things you could do, keeping in mind the inspiration I've got from thinking about Jamie Oliver...
</p>
<ol>
	<li>Become a celebrity by going on TV</li>
	<li>Teach people how to cook</li>
	<li>Go to the local school and talk to the kids about the importance of eating vegetables</li>
	<li>Go to the local school and inspire the kids in a cookery lesson by teaching them a secret recipe (for example)</li>
	<li>Write a book about running your restaurant</li>
	<li>Make a behind-the-scenes documentary about running your restaurant</li>
</ol>
<p>
	All of those are excellent ideas, even if I do say so myself. However I know that most of you reading this would be pretty daunted at the prospect of having to do any of them (although I bet you'd have a ton of fun and learn loads if you were brave enough!) ...However, there are easier, and (possibly) yet more efficient ways of connecting with your audience.
</p>
<p>
	All the ideas I just came up with and all of Jamie Oliver's success boils down to two things:
</p>

<ol>
	<li>Adding more and more value to more and more people</li>
	<li>Telling a story (perhaps 'your' story)</li>
</ol>
<p>
	Specifically then, you and Jamie Oliver both add value by providing food, drink, outstanding service and a great setting in which to enjoy it. The way that Jamie Oliver adds additional value (worth millions of pounds) which sets him apart is that he teaches people - lots of people - and they love him for it. They trust him because they believe he has their best interests at heart (for all intents and purposes he does). They place great value on the lengths to which he goes to help them and consequently they become his fans. He also has a story. His whole restaurant business is based on the story of the time he's spent in Italy and what he learned there, and his fans love to read about his story and they love to feel a part of it.
</p>
<p>
	I realise that if I've done my job properly that the importance of fans is now crystal clear to you, but I expect the thought of trying to help so many people is an impossibly daunting prospect. Of course it is. But think, Jamie started from nothing, he started small, and that's how you've got to start. Don't think that you're going to change the eating habits of America tomorrow, that would be ridiculous.
</p>
<p>
	<b>Here's what you gotta do; it's nice and easy:</b>
</p>
<p>
	Step 1. Start collecting names and email addresses. <u>Get the email addresses of everyone who comes through your doors and everyone who visits your website</u>. It doesn't matter how you do it, be ingenious or be demanding, whatever, just get them. Get everyone elses email addresses too. And get the names and email addresses of people who live close enough by to come to your restaurant on a regular (at least once a month) basis. It will help you no end if you also jot some other info down alongside: gender, approx age, number of people in their party, time of day they came into your restaurant, probable reason for coming and anything else that seems relevant (wine preference? Did they have a starter? A dessert? How much did they spend? Do you recognise them? If they're celebrating a birthday can you find out who's and what the date of their birthday is? etc etc etc). This is all hugely valuable stuff to help you understand your existing customers. Why is that so valuable? Because your existing customers represent a larger segment of similar people in your local community and the chances are that the rest of that segment are the most likely people to come to your restaurant in the future.
</p>
<p>
	Step 2. Send out a regular newsletter. There are a lot of themes you could draw on for inspiration. You might follow the same theme for all your newsletters (favourite recipes from your restaurant - one per newsletter - and the story of the recipe, for example) or you might prefer to range across various themes. Get to know the people on your mailing list (this is critical). Speak to them in person or ask them to respond to your newsletters. How else will you find out what they might like to read about? As your mailing list (read: fan club) grows you could try sending out newsletters with different themes to different people to find out which has the most impact and so inform your decision about what to write about next time. Remember though, this is mainly to add value and not to 'sell'. If the people on your mailing list smell more than a hint of selling then your newsletter will go straight to their junk folder and all your hard work will be undone. There will be an element of marketing of course but it must be tiny compared to the value you offer. Oddly enough if you give enough value your fan will sometimes actively seek out what you are selling. I'm not saying 'play hard to get', I think that would be foolish, what I am saying is don't be a pushy salesperson because it will get you precisely nowhere. When writing your newsletter think first of how you can give your fans something that they would like, something interesting, entertaining and valuable. Think only of giving and you will be rewarded. People detest greed and they will be very suspicious of your motives, so the only way to make it is to make sure that you're motivated by a desire to help your fans.
</p>
<p>
	So think hard about who you're writing for, what they would enjoy reading about and what you could offer them of value. Make it fun if you can, make it easy to read, read it out loud to yourself to check if that it reads nicely and there aren't any snags in it, don't be serious and don't take yourself seriously, write in a column to make it easy to read, add value, help, give. Stick with it and grow your mailing list, work hard to give as much as you can to your mailing list and you will be repaid by your fans who will love you, rave about you and spend their money in your restaurant.
</p>
















