<p>
	The experience you offer your patrons is your top priority.
</p>
<p>
    The customer journey begins online. Your patrons will judge you on the experience they have using your website. For some this will be their first impression of your business.
</p>
<p>
    Turnip only makes websites for restaurants so we are fully aligned with your needs and the needs of your patrons.
</p>
<p>
    Turnip strives for elegance and simplicity to best serve your customers. Every one of our websites is built from scratch and we purposefully leave off glam and gizmos and we think our sites are a lot better for it.
</p>
<p>
    We've saved the best for last. Wait till you see what we cost.
</p>
