<h1>Is your website crap?</h1>

<p>It seems a lot of websites for restaurants are created without giving a second thought  to what they're supposed to be for.</p>

<p>Your website should get more people coming to your restaurant. If it doesn't do that then what's the point of it?</p>

<p>We've put together a short guide to help you make your website work for you.</p>

<h3>Guide to getting people from your website into your restaurant</h3>

<p>The most important thing on your website is the words.</p>

<p>Forget pictures, graphics and fancy fonts, your wording needs your attention.</p>

<p>Think of your website as your pitch to your future customer. Your site has to persuade them to want to come and eat in your restaurant.</p>

<p>The thought of writing for your site can be a daunting prospect but luckily there is a tried and tested formula for doing it right..... It's name is AIDA.</p>
<ol>
  <li>Attention</li>
  <li>Interest</li>
  <li>Desire</li>
  <li>Action</li>
</ol>

<p>Use the above to structure your 'pitch'. First say something which will grab their ATTENTION. Once they're listening it's time to make them INTERESTED (perhaps by telling them the benefits of visiting your restaurant). Then create a strong DESIRE in them (you could tell them how popular your place is, what other customers have said about how much they enjoyed their visit) and finally prompt them to take ACTION. That means explaining step by step (even if there's just one step) what they need to do to make a reservation, it needs to be ultra clear.</p>

<p>It has also got to be a bit FUN. This is WAY more important than spelling and grammar.</p>

<p>Writing a story is generally really effective, as is teaching. Look at all the big name chefs. They all have restaurant's and they all teach through TV or their books, they even give their recipes away free online. Teaching keeps people interested and helps to build trust.</p>

<h4>Some details...</h4>

<p>The ideal font to use is size 12 Ariel. It's easy to read and gets reproduced properly on every device (desktop, tablet or phone).</p>

<p>Finally, write in columns. Thinner columns mean that people can read down the page more rapidly. The columns on your site need to be 550 pixels wide max.</p>

<h3>Turnip</h3>

<p>Turnip makes websites for restaurants. As you might have guessed our sites are developed with your revenue as the priority.</p>

<p>If you would like a new website for your restaurant we offer a comprehensive package for just £110 per month.</p>

<p>It includes:</p>
<ul>
  <li>Website design and development (We build with the Ruby-on-Rails framework. This means that the sites we make are ready for any additional functionality, just as an example there's the possibility of having visitors sign up to your newsletter and getting their email addresses saved to a database)</li>
  <li>Website hosting</li>
  <li>Domain name registration and renewal</li>
  <li>Email address for your domain name</li>
  <li>Search engine optimisation (i.e. climb google rankings)</li>
  <li>Site maintenance</li>
  <li>Updates to the site as required (in case you want to re-word something, run a promotion or whatever)</li>

<p>We don't charge extra for the initial design and development work though we do ask for the first two months upfront. For your peace of mind there's no long term contract so you can end the agreement whenever you want.</p>

<p>If you would like us to get started on your site please click the link below and fill out the form with a few of your details and we'll be in touch in within one working day.</p>